In [1]:
import pandas as pd
import numpy as np
from kmodes.kmodes import KModes
import plotly.graph_objects as go
from sklearn.manifold import TSNE

%matplotlib inline
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D
import seaborn as sns


from sklearn.externals import joblib

pd.set_option('display.max_columns', None)  # or 1000
pd.set_option('display.max_rows', None)  # or 1000
pd.set_option('display.max_colwidth', -1)  # or 199

In [2]:
df = pd.read_csv(r"Data\kaggle-survey-DS-and-ML-2018\multipleChoiceResponses.csv" ,
                 low_memory= False )

In [3]:
cols = df.columns
print(cols)

# drop other_text cols --- not relevant
other_text_cols = []
for col in cols:
    if "OTHER" in col or "TEXT" in col:
        other_text_cols.append(col)

print(other_text_cols)
df = df.drop(other_text_cols, axis = 1)

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q1_OTHER_TEXT', 'Q2',
       'Q3', 'Q4', 'Q5', 'Q6', 'Q6_OTHER_TEXT', 'Q7',
       ...
       'Q49_OTHER_TEXT', 'Q50_Part_1', 'Q50_Part_2', 'Q50_Part_3',
       'Q50_Part_4', 'Q50_Part_5', 'Q50_Part_6', 'Q50_Part_7', 'Q50_Part_8',
       'Q50_OTHER_TEXT'],
      dtype='object', length=395)
['Q1_OTHER_TEXT', 'Q6_OTHER_TEXT', 'Q7_OTHER_TEXT', 'Q11_OTHER_TEXT', 'Q12_Part_1_TEXT', 'Q12_Part_2_TEXT', 'Q12_Part_3_TEXT', 'Q12_Part_4_TEXT', 'Q12_Part_5_TEXT', 'Q12_OTHER_TEXT', 'Q13_OTHER_TEXT', 'Q14_OTHER_TEXT', 'Q15_OTHER_TEXT', 'Q16_OTHER_TEXT', 'Q17_OTHER_TEXT', 'Q18_OTHER_TEXT', 'Q19_OTHER_TEXT', 'Q20_OTHER_TEXT', 'Q21_OTHER_TEXT', 'Q22_OTHER_TEXT', 'Q27_OTHER_TEXT', 'Q28_OTHER_TEXT', 'Q29_OTHER_TEXT', 'Q30_OTHER_TEXT', 'Q31_OTHER_TEXT', 'Q32_OTHER', 'Q33_OTHER_TEXT', 'Q34_OTHER_TEXT', 'Q35_OTHER_TEXT', 'Q36_OTHER_TEXT', 'Q37_OTHER_TEXT', 'Q38_OTHER_TEXT', 'Q42_OTHER_TEXT', 'Q49_OTHER_TEXT', 'Q50_OTHER_TEXT']

In [4]:
print(df.columns)
# print shape 
print(df.shape)
# Check the null values
print(df.isnull().sum().sort_values(ascending = False))

Index(['Time from Start to Finish (seconds)', 'Q1', 'Q2', 'Q3', 'Q4', 'Q5',
       'Q6', 'Q7', 'Q8', 'Q9',
       ...
       'Q49_Part_11', 'Q49_Part_12', 'Q50_Part_1', 'Q50_Part_2', 'Q50_Part_3',
       'Q50_Part_4', 'Q50_Part_5', 'Q50_Part_6', 'Q50_Part_7', 'Q50_Part_8'],
      dtype='object', length=360)
(23860, 360)
Q38_Part_19                            23859
Q38_Part_20                            23859
Q28_Part_22                            23842
Q28_Part_24                            23828
Q29_Part_16                            23821
Q29_Part_25                            23806
Q29_Part_14                            23800
Q30_Part_15                            23798
Q29_Part_24                            23798
Q29_Part_23                            23793
Q30_Part_21                            23792
Q29_Part_17                            23788
Q30_Part_23                            23778
Q28_Part_18                            23775
Q28_Part_33                            23771
Q29_Part_4                             23756
Q28_Part_30                            23742
Q28_Part_1                             23741
Q28_Part_23                            23740
Q27_Part_12                            23740
Q14_Part_4                             23740
Q29_Part_18                            23739
Q30_Part_14                            23734
Q13_Part_5                             23732
Q28_Part_29                            23730
Q47_Part_16                            23729
Q28_Part_11                            23729
Q28_Part_5                             23727
Q29_Part_22                            23722
Q14_Part_8                             23721
Q30_Part_22                            23718
Q27_Part_17                            23701
Q28_Part_28                            23700
Q28_Part_7                             23699
Q30_Part_20                            23696
Q27_Part_16                            23695
Q28_Part_10                            23687
Q28_Part_12                            23685
Q28_Part_32                            23675
Q28_Part_35                            23663
Q29_Part_8                             23660
Q28_Part_9                             23650
Q30_Part_13                            23648
Q28_Part_39                            23647
Q30_Part_5                             23647
Q30_Part_2                             23647
Q29_Part_20                            23646
Q21_Part_3                             23640
Q38_Part_7                             23637
Q28_Part_20                            23636
Q16_Part_11                            23629
Q27_Part_13                            23628
Q27_Part_14                            23623
Q30_Part_3                             23622
Q30_Part_16                            23620
Q30_Part_19                            23620
Q47_Part_15                            23615
Q49_Part_12                            23615
Q28_Part_37                            23611
Q28_Part_16                            23609
Q29_Part_19                            23607
Q29_Part_26                            23604
Q28_Part_31                            23600
Q28_Part_43                            23600
Q30_Part_25                            23593
Q36_Part_10                            23580
Q30_Part_18                            23576
Q28_Part_17                            23576
Q30_Part_7                             23573
Q42_Part_5                             23568
Q28_Part_38                            23564
Q28_Part_3                             23560
Q29_Part_2                             23545
Q38_Part_16                            23543
Q27_Part_18                            23537
Q28_Part_36                            23530
Q16_Part_17                            23527
Q28_Part_41                            23526
Q30_Part_6                             23525
Q16_Part_15                            23517
Q27_Part_15                            23514
Q14_Part_7                             23498
Q30_Part_8                             23476
Q30_Part_4                             23474
Q27_Part_20                            23470
Q16_Part_12                            23465
Q31_Part_12                            23454
Q30_Part_12                            23438
Q28_Part_13                            23427
Q33_Part_11                            23410
Q44_Part_5                             23410
Q28_Part_27                            23400
Q28_Part_34                            23398
Q27_Part_10                            23387
Q13_Part_14                            23385
Q14_Part_6                             23379
Q28_Part_14                            23373
Q28_Part_40                            23370
Q27_Part_8                             23364
Q29_Part_7                             23346
Q29_Part_6                             23344
Q50_Part_8                             23339
Q47_Part_12                            23337
Q19_Part_11                            23331
Q28_Part_8                             23329
Q19_Part_19                            23323
Q38_Part_8                             23317
Q15_Part_5                             23310
Q27_Part_11                            23304
Q29_Part_28                            23296
Q21_Part_13                            23274
Q19_Part_8                             23265
Q30_Part_11                            23262
Q38_Part_9                             23255
Q29_Part_3                             23244
Q27_Part_5                             23243
Q30_Part_1                             23238
Q28_Part_6                             23237
Q28_Part_21                            23235
Q16_Part_18                            23235
Q28_Part_2                             23235
Q28_Part_4                             23195
Q28_Part_15                            23194
Q29_Part_21                            23191
Q38_Part_17                            23188
Q38_Part_13                            23176
Q14_Part_11                            23169
Q36_Part_5                             23151
Q29_Part_5                             23129
Q19_Part_12                            23127
Q47_Part_13                            23123
Q19_Part_16                            23115
Q28_Part_26                            23101
Q38_Part_5                             23096
Q27_Part_3                             23093
Q21_Part_9                             23091
Q15_Part_7                             23083
Q16_Part_10                            23071
Q28_Part_25                            23049
Q30_Part_17                            23028
Q28_Part_19                            23001
Q21_Part_11                            22987
Q29_Part_1                             22961
Q47_Part_11                            22934
Q30_Part_9                             22917
Q31_Part_1                             22906
Q49_Part_11                            22874
Q47_Part_7                             22859
Q21_Part_10                            22846
Q19_Part_15                            22822
Q36_Part_8                             22819
Q16_Part_16                            22807
Q31_Part_3                             22805
Q50_Part_6                             22800
Q19_Part_7                             22760
Q19_Part_17                            22758
Q11_Part_7                             22667
Q27_Part_7                             22660
Q15_Part_4                             22655
Q30_Part_10                            22654
Q16_Part_14                            22651
Q36_Part_13                            22615
Q13_Part_15                            22602
Q16_Part_7                             22585
Q14_Part_3                             22555
Q19_Part_6                             22552
Q14_Part_5                             22552
Q29_Part_15                            22505
Q29_Part_27                            22497
Q50_Part_1                             22488
Q27_Part_4                             22477
Q31_Part_11                            22476
Q27_Part_9                             22403
Q49_Part_5                             22382
Q45_Part_6                             22371
Q38_Part_15                            22321
Q38_Part_10                            22316
Q38_Part_22                            22299
Q36_Part_7                             22289
Q16_Part_13                            22189
Q27_Part_6                             22168
Q45_Part_1                             22168
Q47_Part_5                             21988
Q21_Part_7                             21952
Q21_Part_12                            21938
Q36_Part_11                            21907
Q36_Part_12                            21883
Q38_Part_2                             21847
Q38_Part_6                             21835
Q33_Part_10                            21832
Q19_Part_5                             21804
Q47_Part_14                            21792
Q19_Part_14                            21760
Q50_Part_4                             21755
Q38_Part_12                            21710
Q27_Part_2                             21654
Q21_Part_5                             21640
Q19_Part_9                             21639
Q31_Part_4                             21614
Q29_Part_13                            21444
Q50_Part_7                             21359
Q31_Part_7                             21307
Q21_Part_4                             21231
Q16_Part_9                             21207
Q50_Part_3                             21185
Q49_Part_4                             21179
Q16_Part_4                             21151
Q42_Part_3                             21066
Q33_Part_3                             21051
Q19_Part_18                            20941
Q49_Part_3                             20914
Q33_Part_6                             20862
Q38_Part_14                            20809
Q38_Part_3                             20800
Q47_Part_10                            20758
Q38_Part_21                            20755
Q42_Part_4                             20742
Q29_Part_9                             20735
Q38_Part_1                             20721
Q38_Part_11                            20717
Q16_Part_6                             20610
Q44_Part_1                             20562
Q27_Part_19                            20483
Q13_Part_12                            20403
Q11_Part_6                             20388
Q47_Part_4                             20358
Q14_Part_2                             20327
Q50_Part_5                             20290
Q47_Part_1                             20251
Q47_Part_9                             20220
Q36_Part_3                             20196
Q49_Part_9                             20194
Q36_Part_1                             20183
Q33_Part_8                             20175
Q44_Part_2                             20155
Q29_Part_12                            20130
Q15_Part_3                             20054
Q19_Part_4                             20033
Q29_Part_11                            20007
Q27_Part_1                             19987
Q13_Part_6                             19953
Q16_Part_5                             19860
Q36_Part_6                             19857
Q44_Part_6                             19823
Q33_Part_2                             19756
Q13_Part_11                            19619
Q36_Part_4                             19614
Q36_Part_9                             19529
Q47_Part_6                             19505
Q49_Part_10                            19493
Q16_Part_8                             19476
Q49_Part_2                             19293
Q49_Part_8                             19245
Q44_Part_4                             19244
Q45_Part_2                             19121
Q33_Part_1                             19102
Q15_Part_1                             19076
Q14_Part_9                             18943
Q11_Part_5                             18925
Q38_Part_18                            18848
Q13_Part_4                             18777
Q13_Part_8                             18748
Q33_Part_5                             18634
Q11_Part_3                             18626
Q44_Part_3                             18561
Q13_Part_13                            18520
Q28_Part_42                            18489
Q31_Part_5                             18472
Q30_Part_24                            18470
Q45_Part_3                             18443
Q47_Part_2                             18442
Q11_Part_2                             18378
Q38_Part_4                             18296
Q19_Part_10                            18288
Q45_Part_5                             18285
Q42_Part_1                             18279
Q21_Part_6                             18262
Q49_Part_1                             18223
Q13_Part_7                             18188
Q45_Part_4                             18097
Q19_Part_13                            17892
Q13_Part_10                            17874
Q47_Part_3                             17860
Q14_Part_1                             17817
Q33_Part_9                             17784
Q29_Part_10                            17671
Q50_Part_2                             17381
Q16_Part_2                             17174
Q33_Part_7                             16846
Q13_Part_3                             16799
Q15_Part_6                             16756
Q11_Part_4                             16626
Q31_Part_8                             16465
Q15_Part_2                             16399
Q14_Part_10                            16262
Q47_Part_8                             16255
Q21_Part_1                             16108
Q21_Part_8                             16084
Q31_Part_10                            16080
Q49_Part_7                             16078
Q13_Part_9                             16028
Q49_Part_6                             15807
Q19_Part_3                             15723
Q31_Part_2                             15710
Q33_Part_4                             15684
Q16_Part_3                             15592
Q42_Part_2                             15443
Q13_Part_2                             15356
Q31_Part_9                             15130
Q36_Part_2                             14833
Q11_Part_1                             14327
Q37                                    14189
Q19_Part_2                             13878
Q31_Part_6                             12835
Q22                                    11675
Q19_Part_1                             11610
Q20                                    10870
Q43                                    10740
Q46                                    10570
Q48                                    10491
Q21_Part_2                             10467
Q32                                    9981
Q13_Part_1                             9849
Q41_Part_1                             8923
Q41_Part_2                             8923
Q41_Part_3                             8923
Q17                                    8637
Q16_Part_1                             8148
Q35_Part_2                             8114
Q35_Part_6                             8114
Q35_Part_5                             8114
Q35_Part_3                             8114
Q35_Part_1                             8114
Q35_Part_4                             8114
Q40                                    7980
Q34_Part_3                             7922
Q34_Part_1                             7922
Q34_Part_6                             7922
Q34_Part_2                             7922
Q34_Part_5                             7922
Q34_Part_4                             7922
Q39_Part_1                             7880
Q39_Part_2                             7880
Q26                                    5379
Q25                                    5368
Q24                                    5326
Q23                                    5312
Q18                                    5071
Q12_MULTIPLE_CHOICE                    4661
Q9                                     3674
Q10                                    3190
Q8                                     2758
Q7                                     2174
Q6                                     959
Q5                                     912
Q4                                     421
Q3                                     0
Q2                                     0
Q1                                     0
Time from Start to Finish (seconds)    0
dtype: int64

In [5]:
df1 =  df

In [41]:
# keep all the columns and questions together
all_cols = df1.columns.tolist()
all_questions = df1.iloc[ :1 , : ]
#print(all_questions)

In [42]:
question_group_with_parts = []

for i in range(11,51):
    temp_list = []
    for col in all_cols:
        if "Part" in col:
            if "Q"+str(i) in col:
                temp_list.append(col)
        
    question_group_with_parts.append(temp_list)

question_group_with_parts = [x for x in question_group_with_parts if x != []]

In [43]:
qs = []
for listx in question_group_with_parts:
    for col in listx[:1]:
        qs.append(df[[col]].loc[ :0 , : ])

# remove parts column from the all cols list
cols_without_parts = all_cols
for listx in question_group_with_parts:
    for col in listx:
        cols_without_parts.remove(col)
    
for col in cols_without_parts:
    qs.append(df[[col]].loc[ :0 , : ])

In [44]:
for ele in qs:
    print("\n")
    print(ele)

                                                                                                                                                                                      Q11_Part_1
0  Select any activities that make up an important part of your role at work: (Select all that apply) - Selected Choice - Analyze and understand data to influence product or business decisions


                                                                                                                                                                            Q13_Part_1
0  Which of the following integrated development environments (IDE's) have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Jupyter/IPython


                                                                                                                                                Q14_Part_1
0  Which of the following hosted notebooks have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Kaggle Kernels


                                                                                                                                                                     Q15_Part_1
0  Which of the following cloud computing services have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Google Cloud Platform (GCP)


                                                                                                     Q16_Part_1
0  What programming languages do you use on a regular basis? (Select all that apply) - Selected Choice - Python


                                                                                                                     Q19_Part_1
0  What machine learning frameworks have you used in the past 5 years? (Select all that apply) - Selected Choice - Scikit-Learn


                                                                                                                          Q21_Part_1
0  What data visualization libraries or tools have you used in the past 5 years? (Select all that apply) - Selected Choice - ggplot2


                                                                                                                                                                         Q27_Part_1
0  Which of the following cloud computing products have you used at work or school in the last 5 years (Select all that apply)? - Selected Choice - AWS Elastic Compute Cloud (EC2)


                                                                                                                                                            Q28_Part_1
0  Which of the following machine learning products have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - Amazon Transcribe


                                                                                                                                                                             Q29_Part_1
0  Which of the following relational database products have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - AWS Relational Database Service


                                                                                                                                                                      Q30_Part_1
0  Which of the following big data and analytics products have you used at work or school in the last 5 years? (Select all that apply) - Selected Choice - AWS Elastic MapReduce


                                                                                                                                Q31_Part_1
0  Which types of data do you currently interact with most often at work or school? (Select all that apply) - Selected Choice - Audio Data


                                                                                           Q33_Part_1
0  Where do you find public datasets? (Select all that apply) - Selected Choice - Government websites


                                                                                                                                                                        Q34_Part_1
0  During a typical data science project at work or school, approximately what proportion of your time is devoted to the following? (Answers must add up to 100%) - Gathering data


                                                                                                                                      Q35_Part_1
0  What percentage of your current machine learning/data science training falls under each category? (Answers must add up to 100%) - Self-taught


                                                                                                                        Q36_Part_1
0  On which online platforms have you begun or completed data science courses? (Select all that apply) - Selected Choice - Udacity


                                                                                                                         Q38_Part_1
0  Who/what are your favorite media sources that report on data science topics? (Select all that apply) - Selected Choice - Twitter


                                                                                                                                                                                                                       Q39_Part_1
0  How do you perceive the quality of online learning platforms and in-person bootcamps as compared to the quality of the education provided by traditional brick and mortar institutions? - Online learning platforms and MOOCs:


                                                                                          Q41_Part_1
0  How do you perceive the importance of the following topics? - Fairness and bias in ML algorithms:


                                                                                                                                                                        Q42_Part_1
0  What metrics do you or your organization use to determine whether or not your models were successful? (Select all that apply) - Selected Choice - Revenue and/or business goals


                                                                                                                                                                                                                 Q44_Part_1
0  What do you find most difficult about ensuring that your algorithms are fair and unbiased? (Select all that apply) - Lack of communication between individuals who collect the data and individuals who analyze the data


                                                                                                                                                                               Q45_Part_1
0  In what circumstances would you explore model insights and interpret your model's predictions? (Select all that apply) - Only for very important models that are already in production


                                                                                                                                                                              Q47_Part_1
0  What methods do you prefer for explaining and/or interpreting decisions that are made by ML models? (Select all that apply) - Selected Choice - Examine individual model coefficients


                                                                                                                                                                     Q49_Part_1
0  What tools and methods do you use to make your work easy to reproduce? (Select all that apply) - Selected Choice - Share code on Github or a similar code-sharing repository


                                                                                                                                      Q50_Part_1
0  What barriers prevent you from making your work even easier to reuse and reproduce? (Select all that apply) - Selected Choice - Too expensive


  Time from Start to Finish (seconds)
0  Duration (in seconds)


                                       Q1
0  What is your gender? - Selected Choice


                            Q2
0  What is your age (# years)?


                                          Q3
0  In which country do you currently reside?


                                                                                                                Q4
0  What is the highest level of formal education that you have attained or plan to attain within the next 2 years?


                                                                 Q5
0  Which best describes your undergraduate major? - Selected Choice


                                                                                                        Q6
0  Select the title most similar to your current role (or most recent title if retired): - Selected Choice


                                                                                                                Q7
0  In what industry is your current employer/contract (or your most recent employer if retired)? - Selected Choice


                                                               Q8
0  How many years of experience do you have in your current role?


                                                             Q9
0  What is your current yearly compensation (approximate $USD)?


                                                                                    Q10
0  Does your current employer incorporate machine learning methods into their business?


                                                                                                  Q12_MULTIPLE_CHOICE
0  What is the primary tool that you use at work or school to analyze data? (include text response) - Selected Choice


                                                                           Q17
0  What specific programming language do you use most often? - Selected Choice


                                                                                                          Q18
0  What programming language would you recommend an aspiring data scientist to learn first? - Selected Choice


                                                                                                                     Q20
0  Of the choices that you selected in the previous question, which ML library have you used the most? - Selected Choice


                                                                                                                                                      Q22
0  Of the choices that you selected in the previous question, which specific data visualization library or tool have you used the most? - Selected Choice


                                                                                   Q23
0  Approximately what percent of your time at work or school is spent actively coding?


                                                    Q24
0  How long have you been writing code to analyze data?


                                                                                 Q25
0  For how many years have you used machine learning methods (at work or in school)?


                                                Q26
0  Do you consider yourself to be a data scientist?


                                                                                                         Q32
0  What is the type of data that you currently interact with most often at work or school? - Selected Choice


                                                                                  Q37
0  On which online platform have you spent the most amount of time? - Selected Choice


                                                                                                                 Q40
0  Which better demonstrates expertise in data science: academic achievements or independent projects? - Your views:


                                                                                                                Q43
0  Approximately what percent of your data projects involved exploring unfair bias in the dataset and/or algorithm?


                                                                                  Q46
0  Approximately what percent of your data projects involve exploring model insights?


                                                                                                       Q48
0  Do you consider ML models to be "black boxes" with outputs that are difficult or impossible to explain?

In [28]:
type(qs)

list

In [11]:
# drop the question row; which is not acutally data values
df1 = df1.iloc[ 1: , : ]
print(df1.shape)

(23859, 360)

In [12]:
df1.head(5)

,Time from Start to Finish (seconds),Q1,Q2,Q3,Q4,Q5,Q6,Q7,Q8,Q9,Q10,Q11_Part_1,Q11_Part_2,Q11_Part_3,Q11_Part_4,Q11_Part_5,Q11_Part_6,Q11_Part_7,Q12_MULTIPLE_CHOICE,Q13_Part_1,Q13_Part_2,Q13_Part_3,Q13_Part_4,Q13_Part_5,Q13_Part_6,Q13_Part_7,Q13_Part_8,Q13_Part_9,Q13_Part_10,Q13_Part_11,Q13_Part_12,Q13_Part_13,Q13_Part_14,Q13_Part_15,Q14_Part_1,Q14_Part_2,Q14_Part_3,Q14_Part_4,Q14_Part_5,Q14_Part_6,Q14_Part_7,Q14_Part_8,Q14_Part_9,Q14_Part_10,Q14_Part_11,Q15_Part_1,Q15_Part_2,Q15_Part_3,Q15_Part_4,Q15_Part_5,Q15_Part_6,Q15_Part_7,Q16_Part_1,Q16_Part_2,Q16_Part_3,Q16_Part_4,Q16_Part_5,Q16_Part_6,Q16_Part_7,Q16_Part_8,Q16_Part_9,Q16_Part_10,Q16_Part_11,Q16_Part_12,Q16_Part_13,Q16_Part_14,Q16_Part_15,Q16_Part_16,Q16_Part_17,Q16_Part_18,Q17,Q18,Q19_Part_1,Q19_Part_2,Q19_Part_3,Q19_Part_4,Q19_Part_5,Q19_Part_6,Q19_Part_7,Q19_Part_8,Q19_Part_9,Q19_Part_10,Q19_Part_11,Q19_Part_12,Q19_Part_13,Q19_Part_14,Q19_Part_15,Q19_Part_16,Q19_Part_17,Q19_Part_18,Q19_Part_19,Q20,Q21_Part_1,Q21_Part_2,Q21_Part_3,Q21_Part_4,Q21_Part_5,Q21_Part_6,Q21_Part_7,Q21_Part_8,Q21_Part_9,Q21_Part_10,Q21_Part_11,Q21_Part_12,Q21_Part_13,Q22,Q23,Q24,Q25,Q26,Q27_Part_1,Q27_Part_2,Q27_Part_3,Q27_Part_4,Q27_Part_5,Q27_Part_6,Q27_Part_7,Q27_Part_8,Q27_Part_9,Q27_Part_10,Q27_Part_11,Q27_Part_12,Q27_Part_13,Q27_Part_14,Q27_Part_15,Q27_Part_16,Q27_Part_17,Q27_Part_18,Q27_Part_19,Q27_Part_20,Q28_Part_1,Q28_Part_2,Q28_Part_3,Q28_Part_4,Q28_Part_5,Q28_Part_6,Q28_Part_7,Q28_Part_8,Q28_Part_9,Q28_Part_10,Q28_Part_11,Q28_Part_12,Q28_Part_13,Q28_Part_14,Q28_Part_15,Q28_Part_16,Q28_Part_17,Q28_Part_18,Q28_Part_19,Q28_Part_20,Q28_Part_21,Q28_Part_22,Q28_Part_23,Q28_Part_24,Q28_Part_25,Q28_Part_26,Q28_Part_27,Q28_Part_28,Q28_Part_29,Q28_Part_30,Q28_Part_31,Q28_Part_32,Q28_Part_33,Q28_Part_34,Q28_Part_35,Q28_Part_36,Q28_Part_37,Q28_Part_38,Q28_Part_39,Q28_Part_40,Q28_Part_41,Q28_Part_42,Q28_Part_43,Q29_Part_1,Q29_Part_2,Q29_Part_3,Q29_Part_4,Q29_Part_5,Q29_Part_6,Q29_Part_7,Q29_Part_8,Q29_Part_9,Q29_Part_10,Q29_Part_11,Q29_Part_12,Q29_Part_13,Q29_Part_14,Q29_Part_15,Q29_Part_16,Q29_Part_17,Q29_Part_18,Q29_Part_19,Q29_Part_20,Q29_Part_21,Q29_Part_22,Q29_Part_23,Q29_Part_24,Q29_Part_25,Q29_Part_26,Q29_Part_27,Q29_Part_28,Q30_Part_1,Q30_Part_2,Q30_Part_3,Q30_Part_4,Q30_Part_5,Q30_Part_6,Q30_Part_7,Q30_Part_8,Q30_Part_9,Q30_Part_10,Q30_Part_11,Q30_Part_12,Q30_Part_13,Q30_Part_14,Q30_Part_15,Q30_Part_16,Q30_Part_17,Q30_Part_18,Q30_Part_19,Q30_Part_20,Q30_Part_21,Q30_Part_22,Q30_Part_23,Q30_Part_24,Q30_Part_25,Q31_Part_1,Q31_Part_2,Q31_Part_3,Q31_Part_4,Q31_Part_5,Q31_Part_6,Q31_Part_7,Q31_Part_8,Q31_Part_9,Q31_Part_10,Q31_Part_11,Q31_Part_12,Q32,Q33_Part_1,Q33_Part_2,Q33_Part_3,Q33_Part_4,Q33_Part_5,Q33_Part_6,Q33_Part_7,Q33_Part_8,Q33_Part_9,Q33_Part_10,Q33_Part_11,Q34_Part_1,Q34_Part_2,Q34_Part_3,Q34_Part_4,Q34_Part_5,Q34_Part_6,Q35_Part_1,Q35_Part_2,Q35_Part_3,Q35_Part_4,Q35_Part_5,Q35_Part_6,Q36_Part_1,Q36_Part_2,Q36_Part_3,Q36_Part_4,Q36_Part_5,Q36_Part_6,Q36_Part_7,Q36_Part_8,Q36_Part_9,Q36_Part_10,Q36_Part_11,Q36_Part_12,Q36_Part_13,Q37,Q38_Part_1,Q38_Part_2,Q38_Part_3,Q38_Part_4,Q38_Part_5,Q38_Part_6,Q38_Part_7,Q38_Part_8,Q38_Part_9,Q38_Part_10,Q38_Part_11,Q38_Part_12,Q38_Part_13,Q38_Part_14,Q38_Part_15,Q38_Part_16,Q38_Part_17,Q38_Part_18,Q38_Part_19,Q38_Part_20,Q38_Part_21,Q38_Part_22,Q39_Part_1,Q39_Part_2,Q40,Q41_Part_1,Q41_Part_2,Q41_Part_3,Q42_Part_1,Q42_Part_2,Q42_Part_3,Q42_Part_4,Q42_Part_5,Q43,Q44_Part_1,Q44_Part_2,Q44_Part_3,Q44_Part_4,Q44_Part_5,Q44_Part_6,Q45_Part_1,Q45_Part_2,Q45_Part_3,Q45_Part_4,Q45_Part_5,Q45_Part_6,Q46,Q47_Part_1,Q47_Part_2,Q47_Part_3,Q47_Part_4,Q47_Part_5,Q47_Part_6,Q47_Part_7,Q47_Part_8,Q47_Part_9,Q47_Part_10,Q47_Part_11,Q47_Part_12,Q47_Part_13,Q47_Part_14,Q47_Part_15,Q47_Part_16,Q48,Q49_Part_1,Q49_Part_2,Q49_Part_3,Q49_Part_4,Q49_Part_5,Q49_Part_6,Q49_Part_7,Q49_Part_8,Q49_Part_9,Q49_Part_10,Q49_Part_11,Q49_Part_12,Q50_Part_1,Q50_Part_2,Q50_Part_3,Q50_Part_4,Q50_Part_5,Q50_Part_6,Q50_Part_7,Q50_Part_8
1,710,Female,45-49,United States of America,Doctoral degree,Other,Consultant,Other,NaN,NaN,I do not know,Analyze and understand data to influence product or business decisions,Build and/or run a machine learning service that operationally improves my product or workflows,"Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data",NaN,Do research that advances the state of the art of machine learning,NaN,NaN,"Cloud-based data software & APIs (AWS, GCP, Azure, etc.)",Jupyter/IPython,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,Matplotlib,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0% of my time,I have never written code but I want to learn,I have never studied machine learning but plan to learn in the future,Maybe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Machine Learning Studio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Access,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Twitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Much better,Much worse,Independent projects are equally important as academic achievements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,434,Male,30-34,Indonesia,Bachelor’s degree,Engineering (non-computer focused),Other,Manufacturing/Fabrication,5-10,"10-20,000",No (we do not use ML methods),NaN,NaN,NaN,NaN,NaN,None of these activities are an important part of my role at work,NaN,"Basic statistical software (Microsoft Excel, Google Sheets, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,I have not used any cloud providers,NaN,NaN,NaN,SQL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,1% to 25% of my time,I have never written code but I want to learn,I have never studied machine learning but plan to learn in the future,Definitely not,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None/I do not know,NaN,Slightly worse,No opinion; I do not know,Independent projects are equally important as academic achievements,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,718,Female,30-34,United States of America,Master’s degree,"Computer science (software engineering, etc.)",Data Scientist,I am a student,0-1,"0-10,000",I do not know,Analyze and understand data to influence product or business decisions,NaN,NaN,NaN,NaN,NaN,NaN,"Local or hosted development environments (RStudio, JupyterLab, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,MATLAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,NaN,NaN,NaN,NaN,I have not used any cloud providers,NaN,NaN,R,NaN,NaN,Java,NaN,NaN,NaN,MATLAB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Java,Python,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None,NaN,NaN,ggplot2,Matplotlib,NaN,NaN,NaN,NaN,NaN,Seaborn,NaN,NaN,NaN,NaN,NaN,ggplot2,75% to 99% of my time,5-10 years,< 1 year,Definitely yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Categorical Data,NaN,NaN,NaN,Numerical Data,NaN,NaN,Text Data,Time Series Data,NaN,NaN,Time Series Data,Government websites,NaN,NaN,"Dataset aggregator/platform (Socrata, Kaggle Public Datasets Platform, etc.)",NaN,NaN,NaN,NaN,GitHub,NaN,NaN,2,3,20,50,20,0,0,0,0,100,0,0,NaN,NaN,NaN,DataCamp,NaN,NaN,NaN,NaN,Udemy,NaN,NaN,NaN,NaN,DataCamp,Twitter,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Slightly worse,Slightly better,Independent projects are equally important as academic achievements,Very important,Very important,Very important,NaN,Metrics that consider accuracy,NaN,NaN,NaN,0-10,Lack of communication between individuals who collect the data and individuals who analyze the data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,When determining whether it is worth it to put the model into production,NaN,NaN,NaN,10-20,NaN,Examine feature correlations,Examine feature importances,NaN,NaN,NaN,NaN,Plot predicted vs. actual results,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I am confident that I can explain the outputs of most if not all ML models,NaN,NaN,NaN,NaN,NaN,NaN,Make sure the code is human-readable,Define all random seeds,NaN,Include a text file describing all dependencies,NaN,NaN,NaN,Too time-consuming,NaN,NaN,NaN,NaN,NaN,NaN
4,621,Male,35-39,United States of America,Master’s degree,"Social sciences (anthropology, psychology, sociology, etc.)",Not employed,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"Local or hosted development environments (RStudio, JupyterLab, etc.)",Jupyter/IPython,RStudio,PyCharm,NaN,NaN,NaN,NaN,Visual Studio,NaN,NaN,Vim,NaN,NaN,NaN,NaN,Kaggle Kernels,Google Colab,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Platform (GCP),Amazon Web Services (AWS),NaN,NaN,NaN,NaN,NaN,Python,R,SQL,Bash,NaN,Javascript/Typescript,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Python,SQL,Scikit-Learn,TensorFlow,Keras,NaN,Spark MLlib,NaN,NaN,NaN,NaN,Xgboost,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Scikit-Learn,ggplot2,Matplotlib,Altair,Shiny,D3,NaN,Bokeh,Seaborn,NaN,NaN,Lattice,NaN,NaN,ggplot2,50% to 74% of my time,5-10 years,4-5 years,Probably yes,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Categorical Data,NaN,Geospatial Data,NaN,Numerical Data,NaN,Tabular Data,Text Data,Time Series Data,NaN,NaN,Numerical Data,Government websites,NaN,NaN,"Dataset aggregator/platform (Socrata, Kaggle Public Datasets Platform, etc.)","I collect my own data (web-scraping, etc.)",NaN,NaN,NaN,NaN,NaN,NaN,20,25,15,10,10,20,40,40,10,0,10,0,NaN,Coursera,edX,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,None/I do not know,NaN,Much worse,No opinion; I do not know,Independent projects are much more important than academic achievements,Very important,Very important,Very important,Revenue and/or business goals,Metrics that consider accuracy,NaN,NaN,NaN,0-10,NaN,NaN,Difficulty in collecting enough data about groups that may be unfairly targeted,NaN,NaN,NaN,NaN,NaN,NaN,When building a model that was specifically designed to produce such insights,NaN,NaN,20-30,NaN,Examine feature correlations,Examine feature importances,Plot decision boundaries,NaN,NaN,NaN,Plot predicted vs. actual results,NaN,Sensitivity analysis/perturbation importance,NaN,NaN,NaN,NaN,NaN,NaN,"Yes, most ML models are ""black boxes""",NaN,NaN,"Share data, code, and environment using a hosted service (Kaggle Kernels, Google Colaboratory, Amazon SageMaker, etc.)",NaN,NaN,NaN,Make sure the code is human-readable,NaN,Define relative rather than absolute file paths,NaN,NaN,NaN,NaN,NaN,Requires too much technical knowledge,NaN,Not enough incentives to share my work,NaN,NaN,NaN
5,731,Male,22-24,India,Master’s degree,Mathematics or statistics,Data Analyst,I am a student,0-1,"0-10,000",I do not know,NaN,NaN,NaN,NaN,NaN,NaN,Other,"Advanced statistical software (SPSS, SAS, etc.)",NaN,RStudio,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Azure Notebook,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Microsoft Azure,NaN,NaN,NaN,NaN,NaN,NaN,SQL,NaN,Java,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SQL,R,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Prophet,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Shiny,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,75% to 99% of my time,5-10 years,2-3 years,Maybe,NaN,NaN,NaN,NaN,Google Kubernetes Engine,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Translation API,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Cloudera,NaN,NaN,NaN,NaN,NaN,NaN,Azure Face API,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,IBM Cloud Compose,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Google Cloud Dataflow,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Categorical Data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Publicly released data from private companies,NaN,NaN,NaN,NaN,NaN,10,10,20,10,20,23,20,40,20,20,0,0,Udacity,Coursera,edX,DataCamp,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Coursera,NaN,NaN,NaN,Kaggle forums,NaN,NaN,DataTau News Aggregator,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Slightly better,Much better,Independent projects are slightly more important than academic achievements,Not at all important,Slightly important,Very important,NaN,NaN,Metrics that consider unfair bias,NaN,NaN,20-30,NaN,NaN,Difficulty in collecting enough data about groups that may be unfairly targeted,Difficulty in identifying and selecting the appropriate evaluation metrics,NaN,NaN,NaN,For all models right before putting the model in production,When determining whether it is worth it to put the model into production,NaN,NaN,NaN,20-30,NaN,NaN,NaN,NaN,Create partial dependence plots,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I am confident that I can understand and explain the outputs of many but not all ML models,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Define relative rather than absolute file paths,NaN,NaN,NaN,NaN,Too time-consuming,NaN,NaN,Not enough incentives to share my work,NaN,NaN,NaN

In [13]:
cols= df1.columns
for col in cols[1:]:
    print("\n")
    print(" ### Columne Name = "+ col )
    print(df1[col].value_counts())

 ### Columne Name = Q1
Male                       19430
Female                     4010
Prefer not to say          340
Prefer to self-describe    79
Name: Q1, dtype: int64


 ### Columne Name = Q2
25-29    6159
22-24    5141
30-34    3776
18-21    3037
35-39    2253
40-44    1360
45-49    858
50-54    582
55-59    328
60-69    273
70-79    53
80+      39
Name: Q2, dtype: int64


 ### Columne Name = Q3
United States of America                                4716
India                                                   4417
China                                                   1644
Other                                                   1036
Russia                                                  879
Brazil                                                  736
Germany                                                 734
United Kingdom of Great Britain and Northern Ireland    702
France                                                  604
Canada                                                  604
Japan                                                   597
Spain                                                   485
I do not wish to disclose my location                   394
Italy                                                   355
Australia                                               330
Turkey                                                  327
Poland                                                  301
Netherlands                                             270
Ukraine                                                 252
Nigeria                                                 208
Mexico                                                  202
South Korea                                             188
Singapore                                               186
Israel                                                  173
Indonesia                                               171
Switzerland                                             164
Pakistan                                                161
Sweden                                                  155
Portugal                                                155
South Africa                                            147
Viet Nam                                                144
Colombia                                                128
Greece                                                  121
Argentina                                               119
Iran, Islamic Republic of...                            113
Malaysia                                                113
Belgium                                                 111
Bangladesh                                              107
Denmark                                                 106
Ireland                                                 101
Egypt                                                   96
Hungary                                                 93
Belarus                                                 91
Kenya                                                   85
Peru                                                    81
Romania                                                 79
Finland                                                 79
New Zealand                                             77
Hong Kong (S.A.R.)                                      76
Chile                                                   76
Norway                                                  74
Tunisia                                                 74
Philippines                                             73
Thailand                                                73
Czech Republic                                          72
Morocco                                                 71
Republic of Korea                                       71
Austria                                                 62
Name: Q3, dtype: int64


 ### Columne Name = Q4
Master’s degree                                                      10855
Bachelor’s degree                                                    7083
Doctoral degree                                                      3357
Some college/university study without earning a bachelor’s degree    967
Professional degree                                                  599
I prefer not to answer                                               345
No formal education past high school                                 232
Name: Q4, dtype: int64


 ### Columne Name = Q5
Computer science (software engineering, etc.)                    9430
Engineering (non-computer focused)                               3705
Mathematics or statistics                                        2950
A business discipline (accounting, economics, finance, etc.)     1791
Physics or astronomy                                             1110
Information technology, networking, or system administration     1029
Medical or life sciences (biology, chemistry, medicine, etc.)    871
Other                                                            770
Social sciences (anthropology, psychology, sociology, etc.)      554
Humanities (history, literature, philosophy, etc.)               269
Environmental science or geology                                 253
I never declared a major                                         128
Fine arts or performing arts                                     87
Name: Q5, dtype: int64


 ### Columne Name = Q6
Student                    5253
Data Scientist             4137
Software Engineer          3130
Data Analyst               1922
Other                      1322
Research Scientist         1189
Not employed               842
Consultant                 785
Business Analyst           772
Data Engineer              737
Research Assistant         600
Manager                    590
Product/Project Manager    428
Chief Officer              360
Statistician               237
DBA/Database Engineer      145
Developer Advocate         117
Marketing Analyst          115
Salesperson                102
Principal Investigator     97
Data Journalist            20
Name: Q6, dtype: int64


 ### Columne Name = Q7
Computers/Technology                      5584
I am a student                            4658
Academics/Education                       2749
Accounting/Finance                        1433
Other                                     940
Online Service/Internet-based Services    871
Medical/Pharmaceutical                    751
Government/Public Service                 636
Insurance/Risk Assessment                 564
Manufacturing/Fabrication                 563
Marketing/CRM                             483
Retail/Sales                              454
Energy/Mining                             447
Broadcasting/Communications               374
Online Business/Internet-based Sales      357
Shipping/Transportation                   278
Non-profit/Service                        189
Hospitality/Entertainment/Sports          177
Military/Security/Defense                 177
Name: Q7, dtype: int64


 ### Columne Name = Q8
0-1      5898
1-2      3745
2-3      2577
5-10     2524
3-4      1751
10-15    1512
4-5      1488
15-20    854
20-25    384
30 +     197
25-30    171
Name: Q8, dtype: int64


 ### Columne Name = Q9
I do not wish to disclose my approximate yearly compensation    4756
0-10,000                                                        4398
10-20,000                                                       1937
20-30,000                                                       1395
30-40,000                                                       1119
40-50,000                                                       965
50-60,000                                                       919
100-125,000                                                     843
60-70,000                                                       729
70-80,000                                                       677
90-100,000                                                      566
125-150,000                                                     533
80-90,000                                                       506
150-200,000                                                     457
200-250,000                                                     172
250-300,000                                                     75
500,000+                                                        63
300-400,000                                                     52
400-500,000                                                     23
Name: Q9, dtype: int64


 ### Columne Name = Q10
We are exploring ML methods (and may one day put a model into production)                    4688
No (we do not use ML methods)                                                                4411
We recently started using ML methods (i.e., models in production for less than 2 years)      3790
I do not know                                                                                2893
We have well established ML methods (i.e., models in production for more than 2 years)       2782
We use ML methods for generating insights (but do not put working models into production)    2105
Name: Q10, dtype: int64


 ### Columne Name = Q11_Part_1
Analyze and understand data to influence product or business decisions    9532
Name: Q11_Part_1, dtype: int64


 ### Columne Name = Q11_Part_2
Build and/or run a machine learning service that operationally improves my product or workflows    5481
Name: Q11_Part_2, dtype: int64


 ### Columne Name = Q11_Part_3
Build and/or run the data infrastructure that my business uses for storing, analyzing, and operationalizing data    5233
Name: Q11_Part_3, dtype: int64


 ### Columne Name = Q11_Part_4
Build prototypes to explore applying machine learning to new areas    7233
Name: Q11_Part_4, dtype: int64


 ### Columne Name = Q11_Part_5
Do research that advances the state of the art of machine learning    4934
Name: Q11_Part_5, dtype: int64


 ### Columne Name = Q11_Part_6
None of these activities are an important part of my role at work    3471
Name: Q11_Part_6, dtype: int64


 ### Columne Name = Q11_Part_7
Other    1192
Name: Q11_Part_7, dtype: int64


 ### Columne Name = Q12_MULTIPLE_CHOICE
Local or hosted development environments (RStudio, JupyterLab, etc.)    9554
Basic statistical software (Microsoft Excel, Google Sheets, etc.)       3928
Other                                                                   1784
Advanced statistical software (SPSS, SAS, etc.)                         1447
Cloud-based data software & APIs (AWS, GCP, Azure, etc.)                1352
Business intelligence software (Salesforce, Tableau, Spotfire, etc.)    1133
Name: Q12_MULTIPLE_CHOICE, dtype: int64


 ### Columne Name = Q13_Part_1
Jupyter/IPython    14010
Name: Q13_Part_1, dtype: int64


 ### Columne Name = Q13_Part_2
RStudio    8503
Name: Q13_Part_2, dtype: int64


 ### Columne Name = Q13_Part_3
PyCharm    7060
Name: Q13_Part_3, dtype: int64


 ### Columne Name = Q13_Part_4
Visual Studio Code    5082
Name: Q13_Part_4, dtype: int64


 ### Columne Name = Q13_Part_5
nteract    127
Name: Q13_Part_5, dtype: int64


 ### Columne Name = Q13_Part_6
Atom    3906
Name: Q13_Part_6, dtype: int64


 ### Columne Name = Q13_Part_7
MATLAB    5671
Name: Q13_Part_7, dtype: int64


 ### Columne Name = Q13_Part_8
Visual Studio    5111
Name: Q13_Part_8, dtype: int64


 ### Columne Name = Q13_Part_9
Notepad++    7831
Name: Q13_Part_9, dtype: int64


 ### Columne Name = Q13_Part_10
Sublime Text    5985
Name: Q13_Part_10, dtype: int64


 ### Columne Name = Q13_Part_11
Vim    4240
Name: Q13_Part_11, dtype: int64


 ### Columne Name = Q13_Part_12
IntelliJ    3456
Name: Q13_Part_12, dtype: int64


 ### Columne Name = Q13_Part_13
Spyder    5339
Name: Q13_Part_13, dtype: int64


 ### Columne Name = Q13_Part_14
None    474
Name: Q13_Part_14, dtype: int64


 ### Columne Name = Q13_Part_15
Other    1257
Name: Q13_Part_15, dtype: int64


 ### Columne Name = Q14_Part_1
Kaggle Kernels    6042
Name: Q14_Part_1, dtype: int64


 ### Columne Name = Q14_Part_2
Google Colab    3532
Name: Q14_Part_2, dtype: int64


 ### Columne Name = Q14_Part_3
Azure Notebook    1304
Name: Q14_Part_3, dtype: int64


 ### Columne Name = Q14_Part_4
Domino Datalab    119
Name: Q14_Part_4, dtype: int64


 ### Columne Name = Q14_Part_5
Google Cloud Datalab    1307
Name: Q14_Part_5, dtype: int64


 ### Columne Name = Q14_Part_6
Paperspace    480
Name: Q14_Part_6, dtype: int64


 ### Columne Name = Q14_Part_7
Floydhub    361
Name: Q14_Part_7, dtype: int64


 ### Columne Name = Q14_Part_8
Crestle    138
Name: Q14_Part_8, dtype: int64


 ### Columne Name = Q14_Part_9
JupyterHub/Binder    4916
Name: Q14_Part_9, dtype: int64


 ### Columne Name = Q14_Part_10
None    7597
Name: Q14_Part_10, dtype: int64


 ### Columne Name = Q14_Part_11
Other    690
Name: Q14_Part_11, dtype: int64


 ### Columne Name = Q15_Part_1
Google Cloud Platform (GCP)    4783
Name: Q15_Part_1, dtype: int64


 ### Columne Name = Q15_Part_2
Amazon Web Services (AWS)    7460
Name: Q15_Part_2, dtype: int64


 ### Columne Name = Q15_Part_3
Microsoft Azure    3805
Name: Q15_Part_3, dtype: int64


 ### Columne Name = Q15_Part_4
IBM Cloud    1204
Name: Q15_Part_4, dtype: int64


 ### Columne Name = Q15_Part_5
Alibaba Cloud    549
Name: Q15_Part_5, dtype: int64


 ### Columne Name = Q15_Part_6
I have not used any cloud providers    7103
Name: Q15_Part_6, dtype: int64


 ### Columne Name = Q15_Part_7
Other    776
Name: Q15_Part_7, dtype: int64


 ### Columne Name = Q16_Part_1
Python    15711
Name: Q16_Part_1, dtype: int64


 ### Columne Name = Q16_Part_2
R    6685
Name: Q16_Part_2, dtype: int64


 ### Columne Name = Q16_Part_3
SQL    8267
Name: Q16_Part_3, dtype: int64


 ### Columne Name = Q16_Part_4
Bash    2708
Name: Q16_Part_4, dtype: int64


 ### Columne Name = Q16_Part_5
Java    3999
Name: Q16_Part_5, dtype: int64


 ### Columne Name = Q16_Part_6
Javascript/Typescript    3249
Name: Q16_Part_6, dtype: int64


 ### Columne Name = Q16_Part_7
Visual Basic/VBA    1274
Name: Q16_Part_7, dtype: int64


 ### Columne Name = Q16_Part_8
C/C++    4383
Name: Q16_Part_8, dtype: int64


 ### Columne Name = Q16_Part_9
MATLAB    2652
Name: Q16_Part_9, dtype: int64


 ### Columne Name = Q16_Part_10
Scala    788
Name: Q16_Part_10, dtype: int64


 ### Columne Name = Q16_Part_11
Julia    230
Name: Q16_Part_11, dtype: int64


 ### Columne Name = Q16_Part_12
Go    394
Name: Q16_Part_12, dtype: int64


 ### Columne Name = Q16_Part_13
C#/.NET    1670
Name: Q16_Part_13, dtype: int64


 ### Columne Name = Q16_Part_14
PHP    1208
Name: Q16_Part_14, dtype: int64


 ### Columne Name = Q16_Part_15
Ruby    342
Name: Q16_Part_15, dtype: int64


 ### Columne Name = Q16_Part_16
SAS/STATA    1052
Name: Q16_Part_16, dtype: int64


 ### Columne Name = Q16_Part_17
None    332
Name: Q16_Part_17, dtype: int64


 ### Columne Name = Q16_Part_18
Other    624
Name: Q16_Part_18, dtype: int64


 ### Columne Name = Q17
Python                   8180
R                        2046
SQL                      1211
Java                     903
C/C++                    739
C#/.NET                  432
Javascript/Typescript    408
MATLAB                   355
SAS/STATA                228
PHP                      191
Visual Basic/VBA         135
Other                    117
Scala                    106
Bash                     59
Ruby                     55
Go                       46
Julia                    11
Name: Q17, dtype: int64


 ### Columne Name = Q18
Python        14181
R             2342
SQL           914
C++           339
MATLAB        256
Java          184
Other         161
None          132
Scala         74
Javascript    72
SAS           69
VBA           38
Go            26
Name: Q18, dtype: int64


 ### Columne Name = Q19_Part_1
Scikit-Learn    12249
Name: Q19_Part_1, dtype: int64


 ### Columne Name = Q19_Part_2
TensorFlow    9981
Name: Q19_Part_2, dtype: int64


 ### Columne Name = Q19_Part_3
Keras    8136
Name: Q19_Part_3, dtype: int64


 ### Columne Name = Q19_Part_4
PyTorch    3826
Name: Q19_Part_4, dtype: int64


 ### Columne Name = Q19_Part_5
Spark MLlib    2055
Name: Q19_Part_5, dtype: int64


 ### Columne Name = Q19_Part_6
H20    1307
Name: Q19_Part_6, dtype: int64


 ### Columne Name = Q19_Part_7
Fastai    1099
Name: Q19_Part_7, dtype: int64


 ### Columne Name = Q19_Part_8
Mxnet    594
Name: Q19_Part_8, dtype: int64


 ### Columne Name = Q19_Part_9
Caret    2220
Name: Q19_Part_9, dtype: int64


 ### Columne Name = Q19_Part_10
Xgboost    5571
Name: Q19_Part_10, dtype: int64


 ### Columne Name = Q19_Part_11
mlr    528
Name: Q19_Part_11, dtype: int64


 ### Columne Name = Q19_Part_12
Prophet    732
Name: Q19_Part_12, dtype: int64


 ### Columne Name = Q19_Part_13
randomForest    5967
Name: Q19_Part_13, dtype: int64


 ### Columne Name = Q19_Part_14
lightgbm    2099
Name: Q19_Part_14, dtype: int64


 ### Columne Name = Q19_Part_15
catboost    1037
Name: Q19_Part_15, dtype: int64


 ### Columne Name = Q19_Part_16
CNTK    744
Name: Q19_Part_16, dtype: int64


 ### Columne Name = Q19_Part_17
Caffe    1101
Name: Q19_Part_17, dtype: int64


 ### Columne Name = Q19_Part_18
None    2918
Name: Q19_Part_18, dtype: int64


 ### Columne Name = Q19_Part_19
Other    536
Name: Q19_Part_19, dtype: int64


 ### Columne Name = Q20
Scikit-Learn    6039
TensorFlow      1949
Keras           1728
randomForest    598
Caret           589
PyTorch         588
Xgboost         547
Spark MLlib     199
lightgbm        170
H20             132
Fastai          127
Other           103
Caffe           62
mlr             62
Mxnet           31
Prophet         26
catboost        26
CNTK            13
Name: Q20, dtype: int64


 ### Columne Name = Q21_Part_1
ggplot2    7751
Name: Q21_Part_1, dtype: int64


 ### Columne Name = Q21_Part_2
Matplotlib    13392
Name: Q21_Part_2, dtype: int64


 ### Columne Name = Q21_Part_3
Altair    219
Name: Q21_Part_3, dtype: int64


 ### Columne Name = Q21_Part_4
Shiny    2628
Name: Q21_Part_4, dtype: int64


 ### Columne Name = Q21_Part_5
D3    2219
Name: Q21_Part_5, dtype: int64


 ### Columne Name = Q21_Part_6
Plotly    5597
Name: Q21_Part_6, dtype: int64


 ### Columne Name = Q21_Part_7
Bokeh    1907
Name: Q21_Part_7, dtype: int64


 ### Columne Name = Q21_Part_8
Seaborn    7775
Name: Q21_Part_8, dtype: int64


 ### Columne Name = Q21_Part_9
Geoplotlib    768
Name: Q21_Part_9, dtype: int64


 ### Columne Name = Q21_Part_10
Leaflet    1013
Name: Q21_Part_10, dtype: int64


 ### Columne Name = Q21_Part_11
Lattice    872
Name: Q21_Part_11, dtype: int64


 ### Columne Name = Q21_Part_12
None    1921
Name: Q21_Part_12, dtype: int64


 ### Columne Name = Q21_Part_13
Other    585
Name: Q21_Part_13, dtype: int64


 ### Columne Name = Q22
Matplotlib    6707
ggplot2       2877
Seaborn       1334
Plotly        540
D3            243
Shiny         199
Other         110
Bokeh         77
Leaflet       39
Lattice       33
Altair        16
Geoplotlib    9
Name: Q22, dtype: int64


 ### Columne Name = Q23
50% to 74% of my time    5539
25% to 49% of my time    5015
1% to 25% of my time     4197
75% to 99% of my time    2768
0% of my time            544
100% of my time          484
Name: Q23, dtype: int64


 ### Columne Name = Q24
1-2 years                                               5359
< 1 year                                                4542
3-5 years                                               4023
5-10 years                                              2145
10-20 years                                             1102
I have never written code but I want to learn           821
20-30 years                                             321
30-40 years                                             117
40+ years                                               62
I have never written code and I do not want to learn    41
Name: Q24, dtype: int64


 ### Columne Name = Q25

 ### Columne Name = Q28_Part_7
Amazon Translate    160
Name: Q28_Part_7, dtype: int64


 ### Columne Name = Q28_Part_8
Google Cloud Translation API    530
Name: Q28_Part_8, dtype: int64


 ### Columne Name = Q28_Part_9
Amazon Lex    209
Name: Q28_Part_9, dtype: int64


 ### Columne Name = Q28_Part_10
Google Dialogflow Enterprise Edition    172
Name: Q28_Part_10, dtype: int64


 ### Columne Name = Q28_Part_11
Amazon Rekognition Video    130
Name: Q28_Part_11, dtype: int64


 ### Columne Name = Q28_Part_12
Google Cloud Video Intelligence API    174
Name: Q28_Part_12, dtype: int64


 ### Columne Name = Q28_Part_13
Google Cloud AutoML    432
Name: Q28_Part_13, dtype: int64


 ### Columne Name = Q28_Part_14
Amazon SageMaker    486
Name: Q28_Part_14, dtype: int64


 ### Columne Name = Q28_Part_15
Google Cloud Machine Learning Engine    665
Name: Q28_Part_15, dtype: int64


 ### Columne Name = Q28_Part_16
DataRobot    250
Name: Q28_Part_16, dtype: int64


 ### Columne Name = Q28_Part_17
H20 Driverless AI    283
Name: Q28_Part_17, dtype: int64


 ### Columne Name = Q28_Part_18
Domino Datalab    84
Name: Q28_Part_18, dtype: int64


 ### Columne Name = Q28_Part_19
SAS    858
Name: Q28_Part_19, dtype: int64


 ### Columne Name = Q28_Part_20
Dataiku    223
Name: Q28_Part_20, dtype: int64


 ### Columne Name = Q28_Part_21
RapidMiner    624
Name: Q28_Part_21, dtype: int64


 ### Columne Name = Q28_Part_22
Instabase    17
Name: Q28_Part_22, dtype: int64


 ### Columne Name = Q28_Part_23
Algorithmia    119
Name: Q28_Part_23, dtype: int64


 ### Columne Name = Q28_Part_24
Dataversity    31
Name: Q28_Part_24, dtype: int64


 ### Columne Name = Q28_Part_25
Cloudera    810
Name: Q28_Part_25, dtype: int64


 ### Columne Name = Q28_Part_26
Azure Machine Learning Studio    758
Name: Q28_Part_26, dtype: int64


 ### Columne Name = Q28_Part_27
Azure Machine Learning Workbench    459
Name: Q28_Part_27, dtype: int64


 ### Columne Name = Q28_Part_28
Azure Cortana Intelligence Suite    159
Name: Q28_Part_28, dtype: int64


 ### Columne Name = Q28_Part_29
Azure Bing Speech API    129
Name: Q28_Part_29, dtype: int64


 ### Columne Name = Q28_Part_30
Azure Speaker Recognition API    117
Name: Q28_Part_30, dtype: int64


 ### Columne Name = Q28_Part_31
Azure Computer Vision API    259
Name: Q28_Part_31, dtype: int64


 ### Columne Name = Q28_Part_32
Azure Face API    184
Name: Q28_Part_32, dtype: int64


 ### Columne Name = Q28_Part_33
Azure Video API    88
Name: Q28_Part_33, dtype: int64


 ### Columne Name = Q28_Part_34
IBM Watson Studio    461
Name: Q28_Part_34, dtype: int64


 ### Columne Name = Q28_Part_35
IBM Watson Knowledge Catalog    196
Name: Q28_Part_35, dtype: int64


 ### Columne Name = Q28_Part_36
IBM Watson Assistant    329
Name: Q28_Part_36, dtype: int64


 ### Columne Name = Q28_Part_37
IBM Watson Discovery    248
Name: Q28_Part_37, dtype: int64


 ### Columne Name = Q28_Part_38
IBM Watson Text to Speech    295
Name: Q28_Part_38, dtype: int64


 ### Columne Name = Q28_Part_39
IBM Watson Visual Recognition    212
Name: Q28_Part_39, dtype: int64


 ### Columne Name = Q28_Part_40
IBM Watson Machine Learning    489
Name: Q28_Part_40, dtype: int64


 ### Columne Name = Q28_Part_41
Azure Cognitive Services    333
Name: Q28_Part_41, dtype: int64


 ### Columne Name = Q28_Part_42
None    5370
Name: Q28_Part_42, dtype: int64


 ### Columne Name = Q28_Part_43
Other    259
Name: Q28_Part_43, dtype: int64


 ### Columne Name = Q29_Part_1
AWS Relational Database Service    898
Name: Q29_Part_1, dtype: int64


 ### Columne Name = Q29_Part_2
AWS Aurora    314
Name: Q29_Part_2, dtype: int64


 ### Columne Name = Q29_Part_3
Google Cloud SQL    615
Name: Q29_Part_3, dtype: int64


 ### Columne Name = Q29_Part_4
Google Cloud Spanner    103
Name: Q29_Part_4, dtype: int64


 ### Columne Name = Q29_Part_5
AWS DynamoDB    730
Name: Q29_Part_5, dtype: int64


 ### Columne Name = Q29_Part_6
Google Cloud Datastore    515
Name: Q29_Part_6, dtype: int64


 ### Columne Name = Q29_Part_7
Google Cloud Bigtable    513
Name: Q29_Part_7, dtype: int64


 ### Columne Name = Q29_Part_8
AWS SimpleDB    199
Name: Q29_Part_8, dtype: int64


 ### Columne Name = Q29_Part_9
Microsoft SQL Server    3124
Name: Q29_Part_9, dtype: int64


 ### Columne Name = Q29_Part_10
MySQL    6188
Name: Q29_Part_10, dtype: int64


 ### Columne Name = Q29_Part_11
PostgresSQL    3852
Name: Q29_Part_11, dtype: int64


 ### Columne Name = Q29_Part_12
SQLite    3729
Name: Q29_Part_12, dtype: int64


 ### Columne Name = Q29_Part_13
Oracle Database    2415
Name: Q29_Part_13, dtype: int64


 ### Columne Name = Q29_Part_14
Ingres    59
Name: Q29_Part_14, dtype: int64


 ### Columne Name = Q29_Part_15
Microsoft Access    1354
Name: Q29_Part_15, dtype: int64


 ### Columne Name = Q29_Part_16
NexusDB    38
Name: Q29_Part_16, dtype: int64


 ### Columne Name = Q29_Part_17
SAP IQ    71
Name: Q29_Part_17, dtype: int64


 ### Columne Name = Q29_Part_18
Google Fusion Tables    120
Name: Q29_Part_18, dtype: int64


 ### Columne Name = Q29_Part_19
Azure Database for MySQL    252
Name: Q29_Part_19, dtype: int64


 ### Columne Name = Q29_Part_20
Azure Cosmos DB    213
Name: Q29_Part_20, dtype: int64


 ### Columne Name = Q29_Part_21
Azure SQL Database    668
Name: Q29_Part_21, dtype: int64


 ### Columne Name = Q29_Part_22
Azure Database for PostgreSQL    137
Name: Q29_Part_22, dtype: int64


 ### Columne Name = Q29_Part_23
IBM Cloud Compose    66
Name: Q29_Part_23, dtype: int64


 ### Columne Name = Q29_Part_24
IBM Cloud Compose for MySQL    61
Name: Q29_Part_24, dtype: int64


 ### Columne Name = Q29_Part_25
IBM Cloud Compose for PostgreSQL    53
Name: Q29_Part_25, dtype: int64


 ### Columne Name = Q29_Part_26
IBM Cloud Db2    255
Name: Q29_Part_26, dtype: int64


 ### Columne Name = Q29_Part_27
None    1362
Name: Q29_Part_27, dtype: int64


 ### Columne Name = Q29_Part_28
Other    563
Name: Q29_Part_28, dtype: int64


 ### Columne Name = Q30_Part_1
AWS Elastic MapReduce    621
Name: Q30_Part_1, dtype: int64


 ### Columne Name = Q30_Part_2
AWS Batch    212
Name: Q30_Part_2, dtype: int64


 ### Columne Name = Q30_Part_3
Google Cloud Dataproc    237
Name: Q30_Part_3, dtype: int64


 ### Columne Name = Q30_Part_4
Google Cloud Dataflow    385
Name: Q30_Part_4, dtype: int64


 ### Columne Name = Q30_Part_5
Google Cloud Dataprep    212
Name: Q30_Part_5, dtype: int64


 ### Columne Name = Q30_Part_6
AWS Kinesis    334
Name: Q30_Part_6, dtype: int64


 ### Columne Name = Q30_Part_7
Google Cloud Pub/Sub    286
Name: Q30_Part_7, dtype: int64


 ### Columne Name = Q30_Part_8
AWS Athena    383
Name: Q30_Part_8, dtype: int64


 ### Columne Name = Q30_Part_9
AWS Redshift    942
Name: Q30_Part_9, dtype: int64


 ### Columne Name = Q30_Part_10
Google BigQuery    1205
Name: Q30_Part_10, dtype: int64


 ### Columne Name = Q30_Part_11
Teradata    597
Name: Q30_Part_11, dtype: int64


 ### Columne Name = Q30_Part_12
Microsoft Analysis Services    421
Name: Q30_Part_12, dtype: int64


 ### Columne Name = Q30_Part_13
Oracle Exadata    211
Name: Q30_Part_13, dtype: int64


 ### Columne Name = Q30_Part_14
Oracle Warehouse Builder    125
Name: Q30_Part_14, dtype: int64


 ### Columne Name = Q30_Part_15
SAP IQ    61
Name: Q30_Part_15, dtype: int64


 ### Columne Name = Q30_Part_16
Snowflake    239
Name: Q30_Part_16, dtype: int64


 ### Columne Name = Q30_Part_17
Databricks    831
Name: Q30_Part_17, dtype: int64


 ### Columne Name = Q30_Part_18
Azure SQL Data Warehouse    283
Name: Q30_Part_18, dtype: int64


 ### Columne Name = Q30_Part_19
Azure HDInsight    239
Name: Q30_Part_19, dtype: int64


 ### Columne Name = Q30_Part_20
Azure Stream Analytics    163
Name: Q30_Part_20, dtype: int64


 ### Columne Name = Q30_Part_21
IBM InfoSphere DataStorage    67
Name: Q30_Part_21, dtype: int64


 ### Columne Name = Q30_Part_22
IBM Cloud Analytics Engine    141
Name: Q30_Part_22, dtype: int64


 ### Columne Name = Q30_Part_23
IBM Cloud Streaming Analytics    81
Name: Q30_Part_23, dtype: int64


 ### Columne Name = Q30_Part_24
None    5389
Name: Q30_Part_24, dtype: int64


 ### Columne Name = Q30_Part_25
Other    266
Name: Q30_Part_25, dtype: int64


 ### Columne Name = Q31_Part_1
Audio Data    953
Name: Q31_Part_1, dtype: int64


 ### Columne Name = Q31_Part_2
Categorical Data    8149
Name: Q31_Part_2, dtype: int64


 ### Columne Name = Q31_Part_3
Genetic Data    1054
Name: Q31_Part_3, dtype: int64


 ### Columne Name = Q31_Part_4
Geospatial Data    2245
Name: Q31_Part_4, dtype: int64


 ### Columne Name = Q31_Part_5
Image Data    5387
Name: Q31_Part_5, dtype: int64


 ### Columne Name = Q31_Part_6
Numerical Data    11024
Name: Q31_Part_6, dtype: int64


 ### Columne Name = Q31_Part_7
Sensor Data    2552
Name: Q31_Part_7, dtype: int64


 ### Columne Name = Q31_Part_8
Tabular Data    7394
Name: Q31_Part_8, dtype: int64


 ### Columne Name = Q31_Part_9
Text Data    8729
Name: Q31_Part_9, dtype: int64


 ### Columne Name = Q31_Part_10
Time Series Data    7779
Name: Q31_Part_10, dtype: int64


 ### Columne Name = Q31_Part_11
Video Data    1383
Name: Q31_Part_11, dtype: int64


 ### Columne Name = Q31_Part_12
Other Data    405
Name: Q31_Part_12, dtype: int64


 ### Columne Name = Q32
Numerical Data      3588
Tabular Data        2680
Text Data           2005
Time Series Data    1664
Image Data          1635
Categorical Data    998
Sensor Data         494
Geospatial Data     257
Video Data          204
Genetic Data        173
Audio Data          117
Other Data          63
Name: Q32, dtype: int64


 ### Columne Name = Q33_Part_1
Government websites    4757
Name: Q33_Part_1, dtype: int64


 ### Columne Name = Q33_Part_2
University research group websites    4103
Name: Q33_Part_2, dtype: int64


 ### Columne Name = Q33_Part_3
Non-profit research group websites    2808
Name: Q33_Part_3, dtype: int64


 ### Columne Name = Q33_Part_4
Dataset aggregator/platform (Socrata, Kaggle Public Datasets Platform, etc.)    8175
Name: Q33_Part_4, dtype: int64


 ### Columne Name = Q33_Part_5
I collect my own data (web-scraping, etc.)    5225
Name: Q33_Part_5, dtype: int64


 ### Columne Name = Q33_Part_6
Publicly released data from private companies    2997
Name: Q33_Part_6, dtype: int64


 ### Columne Name = Q33_Part_7
Google Search    7013
Name: Q33_Part_7, dtype: int64


 ### Columne Name = Q33_Part_8
Google Dataset Search    3684
Name: Q33_Part_8, dtype: int64


 ### Columne Name = Q33_Part_9
GitHub    6075
Name: Q33_Part_9, dtype: int64


 ### Columne Name = Q33_Part_10
None/I do not work with public data    2027
Name: Q33_Part_10, dtype: int64


 ### Columne Name = Q33_Part_11
Other    449
Name: Q33_Part_11, dtype: int64


 ### Columne Name = Q34_Part_1
10.0      3948
20.0      2569
0.0       1615
5.0       1599
30.0      1291
15.0      870
10        536
40.0      513
25.0      504
50.0      413
20        350
5         211
30        173
0         147
15        120
60.0      102
35.0      99
70.0      75
2.0       73
50        72
25        72
40        67
1.0       66
100.0     45
45.0      36
80.0      31
3.0       27
8.0       25
7.0       20
60        16
90.0      14
1         12
33.0      12
12.0      12
70        11
65.0      10
4.0       10
35        9
75.0      8
22.0      8
100       8
2         8
18.0      7
13.0      6
27.0      6
55.0      5
16.0      5
65        5
6.0       5
45        5
7         5
80        5
14.0      4
39.0      4
3         4
19.0      3
17.0      3
23.0      3
12        3
28.0      3
90        2
38.0      2
9.0       2
24.0      2
8         2
36.0      2
2.5       2
4         2
85.0      2
12.5      1
99.0      1
24        1
42.0      1
57.0      1
21.0      1
17.5      1
0.5       1
21        1
4.07      1
47        1
11.0      1
52        1
33        1
55        1
63.0      1
14.286    1
62.0      1
16.67     1
48.0      1
34.0      1
68.0      1
14        1
91.0      1
7.5       1
43.0      1
23.5      1
88        1
53.0      1
93.0      1
29.0      1
Name: Q34_Part_1, dtype: int64


 ### Columne Name = Q34_Part_2
20.0      2864
10.0      2489
30.0      2217
40.0      1107
0.0       941
15.0      883
25.0      849
5.0       768
50.0      729
20        422
10        366
35.0      292
30        260
60.0      253
40        146
15        122
45.0      120
70.0      119
25        113
5         100
0         93
50        85
55.0      56
35        38
80.0      34
60        33
1.0       32
2.0       30
75.0      26
8.0       24
65.0      23
3.0       23
12.0      20
100.0     16
70        14
90.0      14
45        13
7.0       13
18.0      9
33.0      9
65        8
16.0      8
6.0       7
14.0      7
4.0       7
23.0      7
13.0      5
85.0      5
27.0      5
9.0       5
19.0      4
39.0      4
3         4
24.0      4
2         4
38.0      4
49.0      3
18        3
69.0      3
75        3
22.0      3
34.0      3
17.0      3
28.0      3
26.0      2
8         2
42.0      2
19        2
44.0      2
41.0      2
53.0      2
7         2
85        2
32.0      2
14        2
55        2
80        2
12        2
21.0      1
2.5       1
78.0      1
94.0      1
31.0      1
12.5      1
66.0      1
89.0      1
74        1
17.5      1
58        1
16        1
1         1
7.5       1
79.0      1
64        1
0.25      1
28        1
16.67     1
43.0      1
26        1
71.0      1
63.0      1
18.75     1
11.0      1
13        1
58.0      1
0.1       1
14.286    1
34        1
36.0      1
29.0      1
Name: Q34_Part_2, dtype: int64


 ### Columne Name = Q34_Part_3
10.0      4966
20.0      2588
5.0       2065
15.0      1296
0.0       1067
30.0      760
10        668
25.0      475
20        339
5         281
40.0      192
15        176
50.0      134
0         112
30        90
2.0       76
35.0      60
1.0       59
3.0       56
25        56
8.0       37
7.0       27
60.0      27
40        26
12.0      20
100.0     17
13.0      17
50        16
70.0      14
45.0      13
1         12
80.0      12
2         11
35        11
3         9
16.0      8
4.0       8
9.0       7
8         7
7         7
6.0       7
18.0      7
34.0      6
17.0      6
60        6
33.0      6
14.0      6
11.0      5
23.0      4
4         4
45        3
75.0      3
28.0      3
12.5      3
90.0      3
22.0      3
19.0      2
24.0      2
18        2
27.0      2
6         2
19        2
42.0      2
31.0      1
99        1
55.0      1
85.0      1
90        1
16.67     1
8.33      1
23.5      1
78.0      1
12        1
27        1
24        1
26        1
26.0      1
43.0      1
29        1
16        1
6.25      1
22        1
80        1
13        1
56.0      1
17        1
14.286    1
7.5       1
1.8       1
Name: Q34_Part_3, dtype: int64


 ### Columne Name = Q34_Part_4
20.0      3203
10.0      2742
30.0      1907
0.0       1183
15.0      1145
25.0      820
40.0      737
5.0       725
50.0      555
20        401
10        397
30        267
35.0      263
15        147
60.0      135
0         118
25        116
40        106
45.0      95
70.0      94
5         90
50        76
80.0      42
35        41
2.0       39
100.0     38
55.0      37
1.0       36
75.0      28
3.0       23
90.0      22
65.0      20
60        18
13.0      14
4.0       14
18.0      14
8.0       13
12.0      12
7.0       11
16.0      10
9.0       9
70        8
80        8
17.0      8
33.0      7
45        6
14.0      6
3         6
22.0      6
55        5
2         5
28.0      5
19.0      5
23.0      5
6.0       4
47.0      4
85.0      4
8         4
27.0      3
37.0      3
85        3
7         3
38.0      3
11.0      3
100       3
6         3
26.0      2
12        2
12.5      2
65        2
1         2
7.5       2
95.0      2
23        2
48.0      2
32        1
2.5       1
32.0      1
48        1
21        1
82.0      1
39.0      1
13.34     1
67.0      1
90        1
44        1
4         1
0.5       1
22.5      1
44.0      1
79.0      1
49.0      1
38        1
11        1
63        1
92.0      1
58.0      1
24.0      1
0.1       1
14.286    1
53.0      1
73.0      1
14        1
28        1
13        1
54.0      1
97.0      1
6.5       1
18        1
24        1
16.67     1
Name: Q34_Part_4, dtype: int64


 ### Columne Name = Q34_Part_5
0.0       4427
10.0      3778
5.0       2087
20.0      1518
15.0      899
10        568
0         444
30.0      442
5         305
25.0      280
20        243
2.0       116
15        115
40.0      102
1.0       74
3.0       60
30        59
50.0      51
35.0      38
7.0       26
25        22
4.0       22
8.0       19
40        19
2         17
12.0      13
3         10
6.0       10
60.0      9
100.0     9
8         7
18.0      7
4         7
45.0      7
13.0      7
35        7
1         6
14.0      6
7.5       5
70.0      5
17.0      5
24.0      5
80.0      5
50        5
16.0      5
2.5       4
11.0      4
19.0      3
55.0      3
23.0      3
9.0       3
7         3
6         3
0.5       3
90.0      2
18        2
22.0      2
16        2
75.0      2
12.5      2
33.0      2
12        1
5.18      1
14.286    1
31.0      1
60        1
16.66     1
21.0      1
64.0      1
85.0      1
70        1
0.1       1
17        1
15.5      1
11        1
34.0      1
23        1
8.33      1
95.0      1
65.0      1
45        1
56.0      1
0.01      1
29.0      1
Name: Q34_Part_5, dtype: int64


 ### Columne Name = Q34_Part_6
10.0      4106
0.0       3054
20.0      2054
5.0       1792
15.0      1210
30.0      588
10        565
0         384
25.0      366
5         256
20        247
15        171
40.0      167
50.0      110
2.0       86
30        62
35.0      62
1.0       59
3.0       53
25        53
7.0       41
8.0       39
4.0       30
60.0      27
9.0       26
6.0       19
100.0     18
18.0      18
12.0      17
13.0      15
2         12
45.0      12
1         11
40        11
3         11
50        11
14.0      10
55.0      9
17.0      9
35        8
70.0      8
8         8
90.0      7
80.0      6
11.0      5
7         5
9         5
23.0      5
2.5       4
12        4
4         4
16.0      4
75.0      4
28.0      4
28        3
7.5       3
22.0      3
19.0      3
13        3
33.0      3
32.0      3
24.0      2
85.0      2
6         2
55        2
34.0      2
65.0      2
27.0      2
19        2
65        1
69.0      1
3.89      1
18        1
14.286    1
90        1
12.5      1
94.0      1
16.66     1
70        1
44.0      1
78.0      1
38.0      1
0.1       1
66.0      1
11        1
23        1
16        1
95.0      1
22.5      1
10.2      1
36.0      1
75        1
45        1
22        1
18.75     1
80        1
0.25      1
Name: Q34_Part_6, dtype: int64


 ### Columne Name = Q35_Part_1
0.0       2861
20.0      1903
10.0      1617
30.0      1450
50.0      1365
40.0      1024
25.0      497
100.0     472
60.0      458
15.0      387
5.0       382
70.0      365
80.0      345
0         322
20        276
10        206
30        197
50        195
90.0      173
40        166
35.0      152
45.0      91
75.0      85
70        70
60        68
25        62
100       58
15        43
80        43
65.0      39
5         36
55.0      34
90        29
95.0      28
33.0      24
35        23
85.0      21
45        14
1.0       9
75        8
55        7
65        6
9.0       6
19.0      6
8.0       6
34.0      6
2.0       6
14.0      5
18.0      5
3.0       4
17.0      4
98.0      4
99.0      4
95        4
4.0       3
23.0      3
29.0      3
48.0      3
85        3
38.0      3
39.0      3
49.0      3
2         2
33        2
63.0      2
54.0      2
12.0      2
31        2
28.0      2
79.0      2
24.0      2
7.0       2
3         2
34        2
27.0      2
12        1
42.0      1
94.0      1
7         1
44.0      1
89.0      1
78        1
99        1
84        1
56.0      1
2.5       1
84.0      1
69.0      1
87.0      1
83.0      1
47.5      1
58.0      1
29        1
22.0      1
47.0      1
92.0      1
16.0      1
13.0      1
16.667    1
Name: Q35_Part_1, dtype: int64


 ### Columne Name = Q35_Part_2
0.0       4045
10.0      1669
20.0      1549
30.0      1204
50.0      1141
40.0      798
5.0       576
0         472
60.0      407
25.0      389

In [ ]:
# save the data
filepath = r"Data\Cleaned\for-analysis.csv"       

joblib.dump(df1 ,filepath )
# load model for prediction
#df1 = joblib.load(filepath)